html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
    margin: 5px;
    padding: 8px;
    background-color: #f5f5f5;
    color: #2c3e50;

}

header {
    background-color: #F5F5F5;
    border-bottom: 4px solid #9575cd;
    padding: 10px 20px;
    font-family: 'Google Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


.logo img {
    width: 135px;
    height: auto;
}


/* -- enlaces - */
.menu-links a {
    text-decoration: none;
    color: #7e57c2;
    font-family: 'Google Sans', sans-serif;
    font-weight: bold;
    margin-right: 10px;
    padding: 25px;
}

h2 {
    color: #0b1e35;
    text-align: center;
    padding-top: 5px;
}

/* -- Formulario Login-- */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #7e57c2;
    font-size: 19px;
}

.login {
    margin-bottom: 2px;
    padding: 3px;
}

.login input {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px;
}


/* - galeria de imagenes  (2x6)- */

.galeria-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    margin-left: 10%;

}

@media (max-width: 760px) {
    .galeria-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


figcaption {
    padding: 5px;
    font-family: 'Google Sans', sans-serif;
    font-weight: bold;
}


/* - tabla (6 columnas)- */
.seccion-tabla {
    padding: 20px;
}

.tabla {
    overflow-x: auto;
}

table {
    width: 97%;
    min-width: 600px;
    border-collapse: collapse;
    text-align: center;
    margin: 1.5%;
}

th {
    background-color: #333;
    color: white;
    padding: 10px;
}

td {
    border: 1px solid #ccc;
    padding: 10px;
    width: 16%;
    color: #081627;
}


tbody tr:nth-child(odd) {
    /* ayudita del colega Gepeto para cumplir la condicion de colores en la tabla. */
    background-color: #fff;
    /* :nthchild para q se aplique a los hijos de tbody tr, en este caso. odd=impar even=par*/
}

tbody tr:nth-child(even) {
    background-color: #d1c4e9;

}

td img {
    width: 100%;
    max-width: 50px;
    display: block;
    margin: 0 auto;
}

/* - info - */
.seccion-info {
    padding: 20px;
    max-width: 900px;
    margin: 0;
}


.info-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    font-size: 18px;
}

.info-img {
    margin: 0;
    border: 1px solid #ccc;
    padding: 5px;
    background: #fff;
    min-width: 200px;
}

.info-img img {
    width: 100%;
    display: block;
}

.seccion-details {
    padding: 20px;
    max-width: fit-content;

}

details {
    background-color: #e0e0e0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

summary {
    cursor: pointer;
    font-weight: bold;
    color: #7e57c2;
}

/* - footer - */
.footer-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #d1c4e9;
    color: #0b1e35;
    font-size: large;
}

.github {

    background-image: url('../assets/imagenes/github.svg');
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 28px;
    height: 28px;
    margin-left: 20px;
}