body {
    font-family: 'Work Sans', sans-serif;
    margin: 5;
    padding: 8;
    background-color: #f5f5f5;
    color: #127022;

}

header {
    background-color: #F5F5F5;
    border-bottom: 4px solid #6200ea;
    padding: 10px 20px;
    font-family: 'Google Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


.logo img {
    width: 135px;
    height: auto;
}

/* -- enlaces - */
.menu-links a {
    text-decoration: none;
    color: #6200ea;
    font-family: 'Google Sans', sans-serif;
    font-weight: bold;
    margin-right: 10px;
    padding: 25px;
}

h2 {
    color: #0b1e35;
    text-align: center;
    padding-top: 5px;
}

/* -- Formulario Login-- */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #0062EA;
    font-size: 19px;
}

.login {
    margin-bottom: 2px;
    padding: 3px;
}

.login input {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px;
}


/* - galeria de imagenes  (2x6)- */

.galeria-flex {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    margin-left: 10%;
}


figcaption {
    padding: 5px;
    font-family: 'Google Sans', sans-serif;
    font-weight: bold;
}


/* - tabla (6 columnas)- */
.seccion-tabla {
    padding: 20px;
}

.tabla {
    overflow-x: auto;
}

table {
    width: 97%;
    min-width: 600px;
    border-collapse: collapse;
    text-align: center;
    margin: 1.5%;
}

th {
    background-color: #333;
    color: white;
    padding: 10px;
}

td {
    border: 1px solid #ccc;
    padding: 10px;
    width: 16%;
    color: #081627;
}


tbody tr:nth-child(odd) {
    /* ayudita del colega Gepeto para cumplir la condicion de colores en la tabla. */
    background-color: #fff;
    /* :nthchild para q se aplique a los hijos de tbody tr en este caso. odd=impar even=par*/
}

tbody tr:nth-child(even) {
    background-color: #0062EA;

}

td img {
    width: 100%;
    max-width: 50px;
    display: block;
    margin: 0 auto;
}

/* - info - */
.seccion-info,
.seccion-details {
    padding: 20px;
    max-width: 900px;
    margin: 0;
}


.info-div {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.info-img {
    margin: 0;
    border: 1px solid #ccc;
    padding: 5px;
    background: #fff;
    min-width: 200px;
}

.info-img img {
    width: 100%;
    display: block;
}

details {
    background-color: #e0e0e0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

summary {
    cursor: pointer;
    font-weight: bold;
    color: #6200ea;
}